.classCase{
    border-right: 2px solid orange;
    justify-content: center;
    align-items: center;
}

.dateCase{
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    padding: 0 .2rem;
    justify-content: center;
    align-items: center;
}

.travelerNum{
    justify-content: space-evenly;
    color : #0043a4;
}

.hideModifyForm{
    background: #fff;
    margin-top: 10px;
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
}

.transform{
    transition-duration: 2s;
    transition : 2s;
}

.modifyform-animation{
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .destinationOrigin, .dateCase, .classCase {
        margin-bottom: .5rem;
    }
    .modify-btn{
        margin: .5rem 0;
    }
}