/* error modal */
.ant-message-notice-content{
    background: transparent!important;
    color: #155724 !important;
    font-size: 12.5px !important;
    display: inline-block !important;
}

.ant-message-notice-content > .ant-message-error{
    background: #f8d7da !important;
    color: #721c24 !important;
    padding: 20px !important;
    font-size: 12.5px !important;
    display: flex !important;
    align-items: center !important;
}

.ant-message-notice-content > .ant-message-success{
    background: #d4edda !important;
    color: #155724 !important;
    padding: 20px !important;
    font-size: 12.5px !important;
    display: flex !important;
    align-items: center !important;
}

div > .ant-message-notice-content{
    padding : 0 !important;
}

.row.subscribe-div {
    margin: 0 auto;
    max-width: 1320px;
}