.login-parent{
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    padding: 5rem 2.5rem;
}

/* .login-container{
    box-sizing: border-box;
    box-shadow: 0 1px 10px rgba(112, 112, 112, 0.5);
    position: relative;
} */

.login-head h5{
    color: #0043a4;
    font-weight: 700;
    padding: 1rem 0 2rem 0;
}

#form_login {
    /* left : 50%;
    top : 50%;
    position : absolute;
    transform : translate(-50%, -50%); */
    margin        : 0 auto;
    padding       : 0;
    /*  */
    display       : grid;
    place-content : center;
    min-height    : 50vh;
    /*  */
    padding: 5rem 2.5rem;
    /* box-shadow: 0 1px 10px rgba(112, 112, 112, 0.5); */
}

button.form-btn.btn.btn-primary {
    margin: 0 auto;
    color: #0043a4;
    border: 2px solid #0043a4;
    background: transparent;
    display:flex;
}
button.form-btn.btn.btn-primary:hover {
    color: #fff;
    border: 2px solid #0043a4;
    background: #0043a4;
   
}

form.form-container{
    box-shadow: 0 1px 10px rgb(112 112 112 / 50%);
    padding: 2.5rem 5rem;
    position: relative;
}

.forgot-pass.d-flex.mt-2{
    justify-content: space-between;
}
small.text-muted.form-text.form-btn-text {
    font-size: 10px;
    color: #FCA62B !important;
    font-weight: 600;
}
small.text-muted.form-text.form-btn-weight-text{
    font-size: 10px;
    color: #0043a4 !important;
    font-weight: 600;
}

input#formBasicPassword {
    /* box-shadow: 0 1px 10px rgb(21 100 211 / 50%); */
    border-radius: 0;
    padding: 0.5rem;
}
/*  */
.mb-3.input-group.login-email {
    box-shadow: 0 1px 10px rgb(21 100 211 / 50%) !important;
    margin: 1rem 0 !important;
}

span#basic-addon1, .form-control.form-basic-email {
    background: transparent;
    border: 0;
    /* box-shadow: 0 1px 10px rgb(21 100 211 / 50%); */
    border-radius: 0;
    padding: 0.75rem;
}
label.login-form.form-label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0rem !important;
}
p.form-btn-weight-text {
    font-size: 10px !important;
    font-weight: 800;
    color: #FCA62B;
    display: inline-block;
}

.policy-comment-div {
    display: flex;
    justify-content: center;
    text-align: center;
}

button#dropdown-menu-align-end\ custom-login {
    color: #0043a4;
    background: transparent;
    border: 0rem;
    display: flex;
    align-items: center;
    margin-left: 0rem;
}